<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Kanto.jpg);
        background-position: bottom;
        background-size: cover;
      "
      tab="kanto"
    >
      <!-- <img
        style="
          object-fit: cover;
          position: absolute;
          clip: rect(-100, 100px, 100px, 0);
        "
        src="../../assets/backgrounds/Kanto.jpg"
        alt=""
      /> -->
      <!-- <ion-label>Kanto</ion-label> -->
    </ion-tab-button>

    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Johto.jpg);
        background-position: bottom;
        background-size: cover;
      "
      tab="johto"
    >
      <!-- <ion-label>Johto</ion-label> -->
    </ion-tab-button>

    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Hoenn.png);
        background-position: bottom;
        background-size: cover;
      "
      tab="hoenn"
    >
      <!-- <ion-label>Hoenn</ion-label> -->
    </ion-tab-button>

    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Sinnoh.png);
        background-position: bottom;
        background-size: cover;
      "
      tab="sinnoh"
    >
      <!-- <ion-label>Sinnoh</ion-label> -->
    </ion-tab-button>

    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Unova.png);
        background-position: bottom;
        background-size: cover;
      "
      tab="unova"
    >
      <!-- <ion-label>Unova</ion-label> -->
    </ion-tab-button>

    <ion-tab-button
      style="
        background-image: url(../../assets/backgrounds/Kalos.jpg);
        background-position: bottom;
        background-size: cover;
      "
      tab="kalos"
    >
      <!-- <ion-label>Kalos</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
