<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hoenn Region </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hoenn Region</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="pokemon-grid">
    <div *ngFor="let pokemon of pokemons">
      <div class="box">
        <div
          routerLink="{{pokemon.id}}"
          routerLinkActive="router-link-active"
          class="{{pokemon.types[0].type.name}}"
        >
          <span>#0{{pokemon.id}}</span>
          <img
            [src]="pokemon.sprites.other.dream_world.front_default"
            alt="pokemon"
            style="height: 50%"
          />
          <h4>{{pokemon.name}}</h4>
          <div>
            <b>Type:</b>
            <span *ngFor="let type of pokemon.types"> {{type.type.name}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
